### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
datafile = pd.read_csv(file_to_load)
datafile.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
totalplayers=len(datafile['SN'].unique())
pd.DataFrame({'Total Players': [totalplayers]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
uniqueitems=len(datafile['Item ID'].unique())
avgprice=datafile['Price'].mean()
purchasetotal=len(datafile)
totalrevenue=datafile['Price'].sum()
summarytable=pd.DataFrame({'Number of Unique Items':[uniqueitems],'Average Price':[avgprice],'Number of Purchases':[purchasetotal],'Total Revenue':[totalrevenue]})
summarytable['Average Price']= summarytable['Average Price'].map("${:.2f}".format)
summarytable['Total Revenue']=summarytable['Total Revenue'].map("${:,.2f}".format)
summarytable

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_groupby = datafile.groupby('Gender')['SN'].nunique().reset_index()
gender_groupby['Percentage of Players'] = (gender_groupby['SN']/gender_groupby['SN'].sum())*100
gender_summary = gender_groupby[['Gender', 'Percentage of Players','SN' ]].sort_values(['Percentage of Players'],ascending=False)
gender_summary.reset_index(drop=True)
gender_summary['Percentage of Players']=gender_summary['Percentage of Players'].map("{:.2f}%".format)
gender_finalsummary=gender_summary.set_index('Gender')
gender_finalsummary = gender_finalsummary.rename(columns = {'SN': 'Total Count'})
gender_finalsummary

                      Percentage of Players  Total Count
Gender
Male                                 84.03%          484
Female                               14.06%           81
Other / Non-Disclosed                 1.91%           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_purchase_value = datafile.groupby(['Gender']).sum()['Price'].rename('Total Purchase Value')
gender_avgprice=datafile.groupby(['Gender']).mean()['Price'].rename('Average Purchase Price')
gender_purchase_count=datafile.groupby(['Gender']).count()['Price'].rename('Purchase Count')
gender_avg_total = gender_purchase_value / gender_finalsummary['Total Count']

gender_datasummary = pd.DataFrame({'Purchase Count': gender_purchase_count,'Average Purchase Total per Person': gender_avg_total, 
                            'Total Purchase Value': gender_purchase_value, 
                            'Average Purchase Price': gender_avgprice})
gender_datasummary['Average Purchase Total per Person']=gender_datasummary['Average Purchase Total per Person'].map("${:.2f}".format)
gender_datasummary['Total Purchase Value']=gender_datasummary['Total Purchase Value'].map("${:.2f}".format)
gender_datasummary['Average Purchase Price']=gender_datasummary['Average Purchase Price'].map("${:.2f}".format)
gender_datasummary

,Purchase Count,Average Purchase Total per Person,Total Purchase Value,Average Purchase Price
Gender,,,,
Female,113,$4.47,$361.94,$3.20
Male,652,$4.07,$1967.64,$3.02
Other / Non-Disclosed,15,$4.56,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins=[0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]
uniqueheroes=datafile.loc[:,['SN','Age']]
uniqueheroes= uniqueheroes.drop_duplicates()
uniqueheroes['Age Ranges']=pd.cut(datafile['Age'],bins,labels=group_names)
uniqueheroes.head()
age_demographics_total = uniqueheroes["Age Ranges"].value_counts()
age_demographics_percents=(age_demographics_total / totalplayers * 100).round(2)
age_demographics_summary=pd.DataFrame({"Total Count":age_demographics_total,"Percentage of Players":age_demographics_percents})
age_demographics_summary.sort_index()

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
datafile['Age Ranges']=pd.cut(datafile['Age'],bins,labels=group_names)
datafile.head()
total_purchase_count=datafile['Age Ranges'].value_counts().rename('Purchase Count')
total_avgpurchase_price=datafile.groupby(['Age Ranges']).mean()['Price'].rename('Average Purchase Price')
total_purchase_value=datafile.groupby(['Age Ranges']).sum()['Price'].rename('Total Purchase Value')
totalpurchase_per_person=(total_purchase_value/age_demographics_total).rename('Avg Total Purchase Per Person')
purchasing_analysis_summary=pd.DataFrame({'Purchase Count':total_purchase_count,'Average Purchase Price':total_avgpurchase_price,'Total Purchase Value':total_purchase_value,'Avg Total Purchase Per Person':totalpurchase_per_person})
purchasing_analysis_summary['Average Purchase Price']=purchasing_analysis_summary['Average Purchase Price'].map("${:.2f}".format)
purchasing_analysis_summary['Total Purchase Value']=purchasing_analysis_summary['Total Purchase Value'].map("${:.2f}".format)
purchasing_analysis_summary['Avg Total Purchase Per Person']=purchasing_analysis_summary['Avg Total Purchase Per Person'].map("${:.2f}".format)
purchasing_analysis_summary.sort_index()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
spenders=datafile.groupby('SN')
spenders_PC = spenders["Purchase ID"].count()
spenders_avg_purchaseprice = spenders["Price"].mean()
spenders_PT= spenders["Price"].sum()
topspenders = pd.DataFrame({"Purchase Count": spenders_PC,
                             "Average Purchase Price": spenders_avg_purchaseprice,
                             "Total Purchase Value":spenders_PT})
formatted_spenders = topspenders.sort_values(["Total Purchase Value"], ascending=False).head()
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
items = datafile[['Item ID', 'Item Name', 'Price']]
item_stats=items.groupby(['Item ID','Item Name'])
items_PC=item_stats['Item ID'].count()
items_total_PV=(item_stats['Price'].sum())
item_price=items_total_PV/items_PC
popular_items_analysis=pd.DataFrame({'Purchase Count':items_PC,'Item Price':item_price,'Total Purchase Value':items_total_PV})
formatted_popular_items_analysis=popular_items_analysis.sort_values(["Purchase Count"], ascending=False).head()
formatted_popular_items_analysis.style.format({'Item Price':"${:,.2f}",'Total Purchase Value':"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
formatted_popular_items_analysis=popular_items_analysis.sort_values(["Total Purchase Value"], ascending=False).head()
formatted_popular_items_analysis.style.format({'Item Price':"${:,.2f}",'Total Purchase Value':"${:,.2f}"})